@import "tailwindcss";

@theme {
  --color-black: #222222;
  --color-white: #f5f5f5;
  --color-green: #c6ff00;
  --color-dark: #3a3a3a;
  --color-pink: #ff3b8d;
  --color-orange: #ff9800;
  --color-blue: #2196f3;
  --color-terracotta: #d99579;
  --color-lilac: #bca8d9;
  --color-white-secondary: #ffffff;
  --font-poppins: Poppins, sans-serif;
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@custom-variant light (&:where([data-theme="light"], [data-theme="light"] *));